#s-0467ae13-7d42-4787-a117-13d2a659bdc3 > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 760.0px;
  width: 100%;
  height: 100%;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Ellipse {
  width: 68.24606611163117px;
  height: 68.24606611163114px;
  min-height: 68.24606611163114px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Ellipse {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse > .backgroundLayer > .colorLayer {
  background-color: #AAD1FF;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse span#rtr-s-Ellipse_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Ellipse_1 {
  width: 68.24606611163117px;
  height: 68.24606611163114px;
  min-height: 68.24606611163114px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Ellipse_1 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #AAD1FF;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_2 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Ellipse_2 {
  width: 68.2460661116312px;
  height: 68.24606611163108px;
  min-height: 68.24606611163108px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Ellipse_2 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #AAD1FF;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_3 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_3 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Ellipse_3 {
  width: 68.24606611163102px;
  height: 68.24606611163108px;
  min-height: 68.24606611163108px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Ellipse_3 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: #AAD1FF;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_4 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_4 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_4 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Ellipse_4 {
  width: 65.57189197061786px;
  height: 65.57189197061814px;
  min-height: 65.57189197061814px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Ellipse_4 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_4 > .backgroundLayer > .colorLayer {
  background-color: #AAD1FF;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_5 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_5 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_5 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Ellipse_5 {
  width: 65.57189197061774px;
  height: 65.57189197061814px;
  min-height: 65.57189197061814px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Ellipse_5 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_5 > .backgroundLayer > .colorLayer {
  background-color: #AAD1FF;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_6 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_6 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_6 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Ellipse_6 {
  width: 65.57189197061774px;
  height: 65.57189197061814px;
  min-height: 65.57189197061814px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Ellipse_6 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_6 > .backgroundLayer > .colorLayer {
  background-color: #AAD1FF;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_7 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_7 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_7 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Ellipse_7 {
  width: 67.11598054019899px;
  height: 67.11598054019936px;
  min-height: 67.11598054019936px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Ellipse_7 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_7 > .backgroundLayer > .colorLayer {
  background-color: #AAD1FF;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_8 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_8 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_8 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Ellipse_8 {
  width: 73.34538950225092px;
  height: 73.3453895022513px;
  min-height: 73.3453895022513px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Ellipse_8 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_8 > .backgroundLayer > .colorLayer {
  background-color: #AAD1FF;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_8 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_8 span#rtr-s-Ellipse_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Image_1 {
  position: absolute;
  width: 40.01723750332381px;
  height: 40.017237503324054px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Image_1 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Image_2 {
  position: absolute;
  width: 41.99338476980037px;
  height: 41.99338476980046px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Image_2 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Image_3 {
  position: absolute;
  width: 44.71638423291017px;
  height: 44.716384232910286px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Image_3 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Image_4 {
  position: absolute;
  width: 42.37630192453261px;
  height: 43.30047579980612px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Image_4 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Image_5 {
  position: absolute;
  width: 40.787589972535756px;
  height: 40.78758997253556px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Image_5 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Image_6 {
  position: absolute;
  width: 44.811852112063974px;
  height: 41.21505789855871px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Image_6 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Image_7 {
  position: absolute;
  width: 40.08400020504183px;
  height: 40.08400020504183px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Image_7 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Image_8 {
  position: absolute;
  width: 32.799845044203934px;
  height: 32.799845044203664px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Image_8 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_7 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_8 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_9 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_10 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_11 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_12 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_13 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_14 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_14 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_15 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_15 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Image_10 {
  position: absolute;
  width: 43.50569308017461px;
  height: 43.505693080174865px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Image_10 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Pristina',Arial;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Pristina',Arial;
  font-size: 54.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Pristina',Arial;
  font-size: 54.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_2 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Pristina',Arial;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_3 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Pristina',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Pristina',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_9 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_9 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_9 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Ellipse_9 {
  width: 10.0px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #404040;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Ellipse_9 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_9 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_9 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_9 span#rtr-s-Ellipse_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_10 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_10 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_10 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Ellipse_10 {
  width: 10.0px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #404040;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Ellipse_10 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_10 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_10 span#rtr-s-Ellipse_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_11 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_11 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_11 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Ellipse_11 {
  width: 10.0px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #404040;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Ellipse_11 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_11 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #shapewrapper-s-Ellipse_11 span#rtr-s-Ellipse_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Image_70 img, #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Image_70 svg {
  transform: rotateY(180deg) ;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Image_70 {
  position: absolute;
  width: 48.0px;
  height: 48.0px;
  -webkit-transform: rotate(270.0deg);
  -moz-transform: rotate(270.0deg);
  transform: rotate(270.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Image_70 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Adobe Devanagari',Arial;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_1 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Adobe Devanagari',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Adobe Devanagari',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Adobe Devanagari',Arial;
}

_:-ms-fullscreen, :root #s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_4 {
  box-shadow: none;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Adobe Devanagari',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Adobe Devanagari',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-0467ae13-7d42-4787-a117-13d2a659bdc3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
